.card{
    border: 2px solid yellow;
    margin-top: 30px;
    width: 340px;
    height: 400px;
}
    .card h4{
        margin-top: 10px;
        margin-bottom: 80px;
    }
    .card p{
        font-size: 16px;
    }


.icon{
    margin-top: 20px;
    border-radius: 100%;
    width: 150px;
}